body{
  margin:0px;
}
#wrapper{
  background-color: lightgrey;
}
#headertitle{
    font-family: 'Marck Script', cursive;
    font-size: 30px;
    color: grey;
}
#navbar{
  display: flex;
}
#navbarright{
  display: flex;
  flex-direction: row;
}
#layout{
  padding-top: 60px;
  background-color: white;
}
#cog{
  font-size: 30px;
}
#list{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-right: : auto;
  margin-left: auto;
  font-size: 25px;
}
#nav-item{
  padding: 10px;
}
.container-postspace{
  padding-bottom: 25px;
}
.card-header{
  display: flex;
}
.bottom-box{
  padding: 10px
}
.iconcomment{
  color: grey;
}
#heart{
  font-size: 25px;
  color: grey;
}
#ellipsis{
  font-size: 25px;
  text-align: right;
  color: grey;
}
#modalicons{
  display: flex;
}
#camera{
  border: 2px;
  padding-right: 20px;
}
#marker{
  border: 2px;
}
.grid{
  padding: 0px;
}
#btn{
  background-color: grey;
  color:white;
}
#btn:active{
  background-color: white;
  color: grey;
}
#icons{
  display: flex;
  padding-top: 20px;
}
